<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>


    <session-factory>

        <!--<property name="connection.datasource">java:comp/env/jdbc/ensembl_homo_sapiens_core_47_36i</property>-->

        <!-- OR... (for testing only)...  -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://10.160.72.53:3306/homo_sapiens_core_55_37</property>
       <!-- <property name="connection.url">jdbc:mysql://ensembldb.ensembl.org:3306/test</property>-->
        <property name="connection.username">ensembl-user</property>
        <property name="connection.pool_size">1</property>

        <property name="show_sql">false</property>
        <property name="dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
        <property name="hibernate.jdbc.batch_size">20</property>
        <property name="hibernate.current_session_context_class">org.hibernate.context.ManagedSessionContext</property>

        <!--dependency config files-->
        <!--<property name="dependency.hibernate.cfg.ensh.core">/uk/ac/ebi/ensh/core/hibernate.cfg.xml</property>
        <property name="dependency.hibernate.cfg.ensh.variation">/uk/ac/ebi/ensh/variation/hibernate.cfg.xml</property>
        <property name="dependency.hibernate.cfg.ensh.module">/uk/ac/ebi/ensh/module/hibernate.cfg.xml</property>-->


    </session-factory>

</hibernate-configuration>
